@font-face {font-family: Candal; src: url(font/Candal.ttf); }
div.scoreboard_top{
 background-image: url(images/scoreboard_top.png);
 width:1000px;
 height:138px;
}

div.scoreboard_bottom{
 background-image: url(images/scoreboard_bottom.png);
 width:1000px;
 height:56px;
 position:absolute;
 bottom:0px;
}
div.scoreboard_admin_top{
}
div#tabs {
    margin-left: 40px;
    width: 920px;
    padding-bottom:15px;
}
span.scoreboard_title{
 color:white;
 position:absolute;
 top:60px;
 left:60px;
 width:600px;
 font-weight: bold;
 font-size: 24px;
 font-family: 'Candal', 'Helvetica', sans-serif; 

}
span.new_round_button{
 position:absolute;
 top:50px;
 left:800px;
 width:169px;
 height:71px;
}
div.scoreboard_admin_main{
 background-image: url(images/scoreboard_admin_bg.png);
 background-repeat: repeat-y;
 width:1000px;

 bottom:79px;
}

div.scoreboard_admin_bottom{
 background-image: url(images/scoreboard_admin_bottom.png);
 width:880px;
 height:23px;
 position:absolute;
 
}

span.score_change_section{
    float:right;
    margin-left: 20px;
    margin-right: 20px;
    color:grey; 
}
body{
    background-image: url(images/scoreboard_bg.png);
    padding:0px;
    margin:0px;
}
ul{
  margin:0px;
  padding:0px;
}
.admin_view > li.has_scores{
  list-style-type: none;
  font-weight: bold;
  font-size: 12px;
  color:black;
  background-image: url(images/rowslice_admin.png);
  width: 880px;
  height: 48px;
  padding: 0px;
  margin:0px;
}

.admin_view > li.has_scores:hover{
  background-image: url(images/rowslice_admin_hover.png);
}

.admin_view > li.has_scores.just_subtracted {
  background-image: url(images/rowslice_admin_hover_subtract.png);
}
.admin_view > li.has_scores.deleting_scores{
  background-image: url(images/rowslice_admin_hover_subtract.png);
}
.admin_view > li.has_scores.just_added {
  background-image: url(images/rowslice_admin_hover_add.png);
}

.student_view > li.has_scores{
  list-style-type: none;
  font-weight: bold;
  font-size: 12px;
  color:black;
  background-image: url(images/rowslice_user.png);
  width: 1000px;
  height: 48px;
  padding: 0px;
  margin:0px;
}
.student_view > li.has_scores:hover {
  background-image: url(images/rowslice_user_hover.png);
}

.student_view > li.has_scores.just_subtracted {
  background-image: url(images/rowslice_user_subtract.png);
}
.student_view > li.has_scores.just_added {
  background-image: url(images/rowslice_user_add.png);
}


.admin_view > li.has_scores span{
  position: absolute; 
  /*border:1px dashed red; */
}
.student_view > li.has_scores span{
  position: absolute; 
  /*border:1px dashed red; */
}
.admin_view > li.has_scores span.avatar_name{
  text-transform:uppercase;
  color: #ffd000;
  position:relative;
  left:50px;
  top: -3px;
  font-family: 'Candal', 'Helvetica', sans-serif; 
  
  font-size: 24px;
}
.student_view > li.has_scores span.avatar_name{
  text-transform:uppercase;
  left:170px;
  color: #ffd000;
  font-family: 'Candal', 'Arial', 'Helvetica', sans-serif; 
  margin-top:4px;
  font-size: 24px;
} 
.admin_view > li.has_scores span.user_score_delete_link {
    background: none repeat scroll 0 0;
    color: white;
    display: inline-block;
    height: 35px;
    left: 55px;

    position: relative;
    top: 5px;
    width: 45px;
} 

.admin_view > li.has_scores span.position_number {
    color: black;
    font-family: 'Candal','Arial','Helvetica',sans-serif;
    font-size: 22px;
    height: 48px;
    left: -30px;
    margin-top: 4px;
    position: relative;
    top: -3px;
    width: 30px;
}

  

.jspTrack,.jspDrag{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px; 
}
.jspDrag{
    background-color: #F6CD00 !important;
}
.jspTrack{
    background-color: red !important;
}

.jspVerticalBar{
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    background:black !important;
     
}

#admin_scrollpane,#scorelist_scrollpane{
    width: 100% !important;;
    height: 730px !important;
    overflow: auto !important; 
}

.student_view > li.has_scores span.position_number{
  left:70px; 
  width:30px;
  margin-top:4px;
  color:black;
  height: 48px;
  font-size: 22px;
  font-family: 'Candal', 'Arial', 'Helvetica', sans-serif; 
}
.admin_view > li.has_scores span.score_info{
  text-align:right;
  margin-top:4px;
  
  top:5px;
  position: relative;
  font-weight: bold;
  font-size: 22px;
  color:white; 
  width:80px; 
  font-family: 'Candal', 'Arial', 'Helvetica', sans-serif; 
  float:right;
  padding-right:10px;
}
.student_view > li.has_scores span.score_info{
  text-align:right;
  margin-top:4px;
  left:850px; 
  font-weight: bold;
  font-size: 22px;
  color:white; 
  width:80px; 
  font-family: 'Candal', 'Arial', 'Helvetica', sans-serif; 
}
div.scoreboard_admin_main li.score_entry {
    background-image: url("images/scoreboard_admin_bg.png");
    display: inline-block;
    height: 20px;
    list-style-type: none;
    width: 880px;
}
/*
div.scoreboard_admin_main li:nth-child(2n+1) {
  background-image: url('images/scoreboard_admin_bg.png');
  width:1000px;
}
div.scoreboard_admin_main li:nth-child(2n+2) {
}
*/

div.scoreboard_admin_main li.above_no_scores{
 background-image: url(images/scoreboard_admin_top.png);
 width:880px;
 list-style: none;
 height:23px;
}
div.scoreboard_admin_main li span{
  position: absolute; 
}
div.scoreboard_admin_main li span.avatar_name{
  font-weight: bold;
  height: 48px;
  font-family: 'Candal', sans-serif; 
  color:black; 
  left:100px;
}
/*
div.scoreboard_admin_main li:nth-child(2n+1) span.avatar_name{
  left:100px;
}
div.scoreboard_admin_main li:nth-child(2n+2) span.avatar_name{
  left:400px;
}
*/
div.scoreboard_admin_main li span.position_number{
  display:none;
}
div.scoreboard_admin_main li span.score_info{
  display:none;
}
div.scoreboard_admin_main li span.score_change{
  display:none;
}
div.scoreboard_admin_main li span.show_link{
  display:none;
}
div.scoreboard_admin_main li span.user_score_delete_link{
  display:none;
}

span.score_change{
  height:48px;
  width:48px;
}
span.plus1{ left:400px; }
span.plus5{ left:448px; }
span.plus25{ left:496px; }
span.plus100{ left:544px; }
span.minus100{ left:592px; }
span.minus25{ left:640px; }
span.minus5{ left:688px; }
span.minus1{ left:736px; }

li.just_edited { background-color:yellow }
li.deleting_scores { background-color:red }
li.no_scores { background-color: #c0c0c0}
li.no_scores .user_score_delete_link{ visibility:hidden}
li.no_scores .avatar_name:hover{color:#ff0000 }
li.has_scores .show_link{ visibility:hidden}
.dummy_item_template{ visibility: hidden }

div.lower_control_pane {
border:2px solid blue;
    position:absolute;
    clear:both;
    bottom:10px;
    width:60%;
    height:80px;
}

/*
Preload images that show up on hover, interaction etc.
Once the page has loaded, use JavaScript to add a bunch of elements
The max number is hard-coded in scoreboard.js (initially used 10).
If you add lots of images, you may need to increase it.
*/
.admin_preload:first { background: url(images/rowslice_admin_action_subtract.png) no-repeat -9999px -9999px; }
.admin_preload:second { background: url(images/rowslice_admin_hover.png) no-repeat -9999px -9999px; }
.admin_preload:third { background: url(images/rowslice_admin_action_subtract.png) no-repeat -9999px -9999px; }
.admin_preload:fourth { background: url(images/rowslice_admin_action_subtract.png) no-repeat -9999px -9999px; }
.admin_preload:fifth { background: url(images/rowslice_admin_action_add.png) no-repeat -9999px -9999px; }
.user_preload:first { background: url(images/rowslice_user.png) no-repeat -9999px -9999px; }
.user_preload:second { background: url(images/rowslice_user_hover.png) no-repeat -9999px -9999px; }
.user_preload:third { background: url(images/rowslice_user_subtract.png) no-repeat -9999px -9999px; }
.user_preload:fourth { background: url(images/rowslice_user_add.png) no-repeat -9999px -9999px; }
