span.score_change_section{
    float:right;
    margin-left: 20px;
    margin-right: 20px;
    color:grey; 
}

span.score_info{
    float:right; 
    margin-right:10px; 
    color:grey; 
    font-style:italic
}

li.just_edited { background-color:yellow }
li.deleting_scores { background-color:red }
li.no_scores { background-color: #c0c0c0}
li.no_scores .user_score_delete_link{ visibility:hidden}
li.has_scores .show_link{ visibility:hidden}
.dummy_item_template{ visibility: hidden }

div.lower_control_pane {
border:2px solid blue;
    position:absolute;
    clear:both;
    bottom:10px;
    width:60%;
    height:80px;
}
