.hiddenButton { visibility:hidden }
.waiting_to_rez { font-color:red }
/*.sloodle_config{ width:50%; margin-left:200px }a*/
/*.sloodle_config_label{ width:40%; margin-right:60% }*/
.add_to_layout_button{ margin-top:10px; margin-bottom:10px; }


.sloodle_config{
	vertical-align:top;
	padding:0px;
	height:100%;
}

.sloodle_config input[type=text] {
	vertical-align:top !important;
	margin-top:0px !important;
	margin-top:0px !important;
	height: 30px !important;
}

.validation_error {
    color:#ff0000 !important;
}


.upper_button_zone {
	width:100%;	
	height:90px;
	display:block;
	margin:0px;
	padding:0px;
	background-image: url(iui/pinstripes.png); }
}
.settings_pane {
	width:100%;	
	height:90px;
	display:block;
	margin:0px;
	padding:0px;
}

.layout_container .settings_pane {
	background-image: url(iui/pinstripes.png); }
}

.upper_button_zone .left_zone{
	height:100%;
	width:30%;
	position: absolute;
	left:0px;
	top:0px;
	display:block;
}
.upper_button_zone .right_zone{
	height:100%;
	width:70%;
	position: absolute;
	right:10px;
	top:0px;
	display:block;
	text-align:right;
}
.upper_button_zone .left_zone .control_button{
	display:inline-block;
	min-width:78px;
	height:74px;
	font-size:10px;	
	position:relative;
	vertical-align:bottom;
}
.upper_button_zone .left_zone .title_text{
	display:inline-block;
	min-width:78px;
	height:74px;
	font-size:24px;	
	font-weight:bold;	
	position:relative;
	margin-top:20px;
	margin-left:10px;
}
.upper_button_zone .right_zone .control_button{
	display:inline-block;
	min-width:78px;
	height:20px;
	font-size:10px;	
	font-weight:bold;	
	position:relative;
	vertical-align:bottom;
	text-align:center;
	padding-top:54px;
	margin-top:7px;
	margin-bottom:7px;
	margin-left:3px;
	margin-right:3px;
}
.upper_button_zone .right_zone .control_button.double_width {
	display:inline-block;
	min-width:176px;
	height:48px;
	font-size:18px;	
	font-weight:bold;	
	position:relative;
	vertical-align:bottom;
	text-align:left;
	padding-top:24px;
	text-indent:71px;
/*
	padding-left:24px;
*/
	margin-top:7px;
	margin-bottom:7px;
	margin-left:3px;
	margin-right:3px;

}
.active_button {
    border-width: 0 12px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: inherit;
    margin-right: 40px;
    width: 97%;
    color: inherit;
    margin-top: 4px;
    margin-bottom: 4px;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
    -webkit-border-image: url(iui/whiteButton.png) 0 12 0 12;
}


span.rezzable_item_status {
    float:right; 
    margin-right:10px; 
    color:grey; 
    font-style:italic
}

span.rezzable_item_positioning {
    float:right; 
    margin-right:10px; 
    color:grey; 
    font-style:italic
}

span.module_info {
    margin-left:30px;
    font-style: italic;
    color: grey;
}

input.rename_layout_input {
	border: 1px solid black; 
	font-size:28px; 
	width:280px !important;
	margin-top:20px !important;
}


.logininput { border: 1px solid black; font-size:28px;}

form {
	height:1000px;
}

.generate_standard_layout { background-image: url(images/rezzer_icon_import_big.png); }
.rez_all_objects{ background-image: url(images/rezzer_icon_rez_all_small.png); }
.rez_all_objects.double_width{ background-image: url(images/rezzer_icon_rez_all_big.png); }
.derez_all_objects{ background-image: url(images/rezzer_icon_derez_all_small.png); }
.derez_all_objects.double_width{ background-image: url(images/rezzer_icon_derez_all_big.png); }
.set_configuration_status { background-image: url(images/rezzer_icon_loading.gif); background-repeat:repeat-y; background-position:right; }
.add_to_layout_button{ background-image: url(images/rezzer_icon_add.png); }
.refresh_config_button{ background-image: url(images/rezzer_icon_refresh.png); }
.reload_page_button{ background-image: url(images/rezzer_icon_refresh.png); }
.delete_layout_entry_button{ background-image: url(images/rezzer_icon_delete.png); }
.update_layout_entry_button{ background-image: url(images/rezzer_icon_update.png); }
.delete_layout_button{ background-image: url(images/rezzer_icon_layout_delete.png); }
.clone_layout_button{ background-image: url(images/rezzer_icon_layout_copy.png); }
.rename_layout_button{ background-image: url(images/rezzer_icon_layout_rename.png); }
.create_layout_button{ background-image: url(images/rezzer_icon_add.png); }
.sync_object_positions { background-image: url(images/rezzer_icon_layout_save_pos.png); }

li.rezzable_item a {
    background: url("images/rezzer_item_settings.png") no-repeat scroll right center transparent;
    background-position: 10px right;
}
li.rezzable_item a[selected], li.rezzable_item a:active {
            background-image: url(images/cog.png), url(selection.png) !important;
                background-repeat: no-repeat, repeat-x;
}


span.rezzable_item_rez_button { 
    display:none;
    width:61px; 
    height:21px; 
    float:right; 
    margin-right:14px; 
    margin-left:10px; 
    margin-top:3px; 
    padding:0px;
	background-image: url(images/rezzer_icon_rez_one.png); 
 }
span.rezzable_item_derez_button { 
    display:none;
    width:61px; 
    height:21px; 
    float:right; 
    margin-right:14px; 
    margin-left:10px; 
    margin-top:3px; 
    padding:0px;
	background-image: url(images/rezzer_icon_derez_one.png); 
}

li.rezzed span.rezzable_item_derez_button { display:inline }
li:not(.rezzed) span.rezzable_item_rez_button { display:inline }

li.rezzed a { color:black}
li.rezzable_item:not(.rezzed) a { color:#696969}

ul[data-rez-mode=derezzed] a.add_object_link { color:#696969}
ul[data-rez-mode=unrezzed] a.add_object_link { color:#696969}

.add_object_link:before {
	padding-left:3px; 
	padding-right:10px; 
	content: url(images/rezzer_icon_add_small.png); 
}
.add_layout_link:before {
	padding-left:3px; 
	padding-right:10px; 
	content: url(images/rezzer_icon_add_small.png); 
}

li.fatal_error_zone {
    display:none;
    border:2px solid red;
    vertical-align:middle !important
    font-size:24;
    height:40px;
}

span.fatal_error_text{ 
    float:left; 
    height:32px; 
    margin-right:14px; 
    margin-left:10px; 
    margin-top:3px; 
    padding:0px;
	background-image: url(images/process-stop-7.png); 
    background-repeat: no-repeat;
    text-indent: 40px;
    border:1px solid white;
}


li.confirmation_zone {
    display:none;
    border:2px solid red;
    vertical-align:middle !important
    font-size:24;
    height:40px;
}

span.confirmation_text { 
    float:left; 
    height:32px; 
    margin-right:14px; 
    margin-left:10px; 
    margin-top:3px; 
    padding:0px;
	background-image: url(images/dialog-question.png); 
    background-repeat: no-repeat;
    text-indent: 40px;
    border:1px solid white;
}

span.delete_confirmation_text {
	background-image: url(images/dialog-warning-2.png); 
}

span.confirmation_button_ok { 
    width:172px; 
    height:32px; 
    float:right; 
    margin-right:14px; 
    margin-left:10px; 
    margin-top:3px; 
    padding:0px;
	background-image: url(images/dialog-apply.png); 
    background-repeat: no-repeat;
    text-indent: 40px;
    border:1px solid red;
}

span.confirmation_button_cancel { 
    width:96px; 
    height:32px; 
    float:right; 
    margin-right:14px; 
    margin-left:10px; 
    margin-top:3px; 
    padding:0px;
	background-image: url(images/dialog-cancel-3.png); 
    background-repeat: no-repeat;
    text-indent: 40px;
    border:1px solid red;
}





/*
span.fatal_error_text:before {
	content: url(images/error.png); 
    margin-top:40px;
    padding:0 5px 0 0;
}
*/

/*
rezzer_icon_add.png        rezzer_icon_delete.png     rezzer_icon_import.png   rezzer_icon_rez_all.png   rezzer_icon_update.png
rezzer_icon_add_small.png  rezzer_icon_derez_all.png  rezzer_icon_refresh.png  rezzer_icon_settings.png
*/

