.hiddenButton { visibility:hidden }
.waiting_to_rez { font-color:red }
/*.sloodle_config{ width:50%; margin-left:200px }a*/
/*.sloodle_config_label{ width:40%; margin-right:60% }*/
.add_to_layout_button{ margin-top:10px; margin-bottom:10px; }


.sloodle_config{
	vertical-align:top;
	padding:0px;
	height:100%;
}

.sloodle_config input:text {
	vertical-align:middle;
	margin-top:1px;
	margin-bottom:1px;
	height: 47px;
}

.upper_button_zone {
	width:100%;	
	height:90px;
	display:block;
	margin:0px;
	padding:0px;
	background-image: url(iui/pinstripes.png); }
}
.settings_pane {
	width:100%;	
	height:90px;
	display:block;
	margin:0px;
	padding:0px;
}

.layout_container .settings_pane {
	background-image: url(iui/pinstripes.png); }
}

.upper_button_zone .left_zone{
	height:100%;
	width:30%;
	position: absolute;
	left:0px;
	top:0px;
	display:block;
}
.upper_button_zone .right_zone{
	height:100%;
	width:70%;
	position: absolute;
	right:10px;
	top:0px;
	display:block;
	text-align:right;
}
.upper_button_zone .left_zone .control_button{
	display:inline-block;
	min-width:78px;
	height:74px;
	font-size:10px;	
	position:relative;
	vertical-align:bottom;
}
.upper_button_zone .left_zone .title_text{
	display:inline-block;
	min-width:78px;
	height:74px;
	font-size:24px;	
	font-weight:bold;	
	position:relative;
	margin-top:20px;
	margin-left:10px;
}
.upper_button_zone .right_zone .control_button{
	display:inline-block;
	min-width:78px;
	height:20px;
	font-size:10px;	
	font-weight:bold;	
	position:relative;
	vertical-align:bottom;
	text-align:center;
	padding-top:54px;
	margin-top:7px;
	margin-bottom:7px;
	margin-left:3px;
	margin-right:3px;
}
.upper_button_zone .right_zone .big_control_button{
	display:inline-block;
	min-width:242px;
	height:50px;
	font-size:18px;	
	font-weight:bold;	
	position:relative;
	vertical-align:bottom;
	text-align:left;
	padding-top:24px;
	text-indent:96px;
/*
	padding-left:24px;
*/
	margin-top:7px;
	margin-bottom:7px;
	margin-left:3px;
	margin-right:3px;

}
.active_button {
    border-width: 0 12px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: inherit;
    margin-right: 40px;
    width: 97%;
    color: inherit;
    margin-top: 4px;
    margin-bottom: 4px;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
    -webkit-border-image: url(iui/whiteButton.png) 0 12 0 12;
}


span.rezzable_item_status {
    float:right; 
    margin-right:10px; 
    color:grey; 
    font-style:italic
}

span.rezzable_item_positioning {
    float:right; 
    margin-right:10px; 
    color:grey; 
    font-style:italic
}

span.module_info {
    margin-left:30px;
    font-style: italic;
    color: grey;
}

input.rename_layout_input {
	border: 1px solid black; 
	font-size:28px; 
	width:280px !important;
	margin-top:20px !important;
}


.logininput { border: 1px solid black; font-size:28px;}

form {
	height:1000px;
}

.generate_standard_layout { background-image: url(images/rezzer_icon_import.png); }
.rez_all_objects{ background-image: url(images/rezzer_icon_rez_all.png); }
.derez_all_objects{ background-image: url(images/rezzer_icon_derez_all.png); }
.set_configuration_status { background-image: url(images/rezzer_icon_loading.gif); }
.add_to_layout_button{ background-image: url(images/rezzer_icon_add.png); }
.refresh_config_button{ background-image: url(images/rezzer_icon_refresh.png); }
.delete_layout_entry_button{ background-image: url(images/rezzer_icon_delete.png); }
.update_layout_entry_button{ background-image: url(images/rezzer_icon_update.png); }
.delete_layout_button{ background-image: url(images/rezzer_icon_layout_delete.png); }
.clone_layout_button{ background-image: url(images/rezzer_icon_layout_copy.png); }
.rename_layout_button{ background-image: url(images/rezzer_icon_layout_rename.png); }
.create_layout_button{ background-image: url(images/rezzer_icon_add.png); }
.sync_object_positions { background-image: url(images/rezzer_icon_layout_save_pos.png); }

.add_object_link:before {
	padding-left:3px; 
	padding-right:10px; 
	content: url(images/rezzer_icon_add_small.png); 
}
.add_layout_link:before {
	padding-left:3px; 
	padding-right:10px; 
	content: url(images/rezzer_icon_add_small.png); 
}

/*
rezzer_icon_add.png        rezzer_icon_delete.png     rezzer_icon_import.png   rezzer_icon_rez_all.png   rezzer_icon_update.png
rezzer_icon_add_small.png  rezzer_icon_derez_all.png  rezzer_icon_refresh.png  rezzer_icon_settings.png
*/

